@media only screen and (max-width: 768px) {


    .navbar nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--secondary-color);
        width: 100%;
        text-align: right;
        height: 0;
        overflow: hidden;
        transition: .3s ease-out;
        z-index: 99;

    }

    .navbar nav ul.show{
        height: 260px;
    }

    .navbar nav ul li {
        display: block;
        margin: 20px 40px 10px 0;
    }


    .navbar nav ul li a {
        color: white;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

}


@media only screen and (max-width: 425px) {
    .row {
        text-align: center;
    }

    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }


    /* Single details page */
    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    /* Cart */
    .cart-info{
        flex-direction: column;
    }

    .cart-info p {
        font-size: 14px;
    }

    .cart-info span {
        font-size: 10px;
    }

    .small-container {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 375px) {
    .row-2 {
        flex-direction: column;
        justify-content: center;
    }

    .row-2 .title-alt {
        border: none;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .small-container {
        padding: 0 5px;
    }
}
